<!--Drop Down NAV BAR-->
<nav class = "topnav" id = "myTopnav">
    <ul>
<<<<<<< HEAD
        <li><a href="../Astronomy/">ASTRONOMY</a>
=======
        <li><a href="/astronomy">ASTRONOMY</a>
>>>>>>> c6f094af8b8c4a6e7b92121ce13a1f60564e65d8
            <ul class = "drop-menu astronomy-menu">
                <li>The study of celestial objects, space, and the physical universe
                </li>
            </ul>
        </li>

        <li> <a href="/biology">BIOLOGY</a>
            <ul class = "drop-menu biology-menu">
                <li>The study of living organisms, including their physical structure, chemical processes, molecular interactions, physiological mechanism, development and evolution.
                </li>
            </ul>
        </li>

        <li><a href="/chemistry">CHEMISTRY</a>
            <ul class = "drop-menu chemistry-menu">
                <li>The scientific discipline involved with elements and compounds: their composition, structure, properties, behavior and changes they undergo during reactions</li>
            </ul>
        </li>

        <li><a href="/computer-science">COMPUTER SCIENCE</a>
                <li>The theory, experimentation, and engineering that form the basis for the design and use of computers</li>
            </ul>
        </li>

        <li><a href="/environmental">ENVIRONMENTAL</a>
            <ul class = "drop-menu environmental-menu">
                <li>A broad field that focuses on the study of the relationships of the natural world and the relationships between organisms and their environments</li>
            </ul>
        </li>
        <li><a href="/engineering">ENGINEERING</a>
            <ul class = "drop-menu engineering-menu">
                <li>A branch of science and technology concerned with the design, building, and use of engines, machines, and stucture</li>
            </ul>
        </li>
        <li><a href="/physics">PHYSICS</a>
            <ul class = "drop-menu physics-menu">
                <li>The Study of matter, its motion, and behavior through space and time and that studies the related entities of energy and force</li>
            </ul>
        </li>
        <li><a href="/psychology">PSYCHOLOGY</a>
            <ul class = "drop-menu psychology-menu">
                <li>The scientific study of the human mind and its functions, especially those affecting behavior in a given context</li>
            </ul>
        </li>
        <!--Hamburger Menu -->
        <li class = "hamburger">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
              </a>
        </li>
    </ul>
</nav>
