<!--Link to Style Sheet  -->

<link rel="stylesheet" href="/css/new-project-link.css">


<div class="wrapper">
    <div class="new-project-link">
    <a href="/projects/{{ category }}/new" class= "new-project-link"><span>N</span><span>E</span><span>W</span> <span>P</span><span>R</span><span>O</span><span>J</span><span>E</span><span>C</span><span>T</span></a>
    </div>
</div>
