<link rel="stylesheet" href="/css/biology.css">

    {{> new-project-link}}

    <div class="bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </div>
