<!-- I made "main.hbs" as a replacement -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Divas</title>
    <!--Import Style Sheet-->
    <link rel="stylesheet" href="style.css">
    <!--Import Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <!--Drop Down NAV BAR-->
    {{!-- Taken out temporarily while I figure out how to  --}}
    {{!-- <nav class = "topnav" id = "myTopnav">
        <ul>
            <li> Astronomy
                <ul class = "drop-menu astronomy-menu">
                    <li><a href="https://observer.globe.gov/">Globe Observer</a></li>
                    <li><a href="https://cosmoquest.org/x/science/mars/">Mars Mapper</a></li>
                </ul>
            </li>

            <li> Biology
                <ul class = "drop-menu biology-menu">
                    <li><a href="https://www.usgs.gov/staff-profiles/nathaniel-hitt">eTrout</a></li>
                    <li>blank</li>

                </ul>
            </li>

            <li> Chemistry
                <ul class = "drop-menu chemistry-menu">
                    <li>blank</li>
                    <li>blank</li>
                    <li>blank</li>
                </ul>
            </li>

            <li> Computer Science
                <ul class = "drop-menu computer-science-menu">
                    <li>blank</li>
                    <li>blank</li>
                    <li>blank</li>
                </ul>
            </li>

            <li> Environmental
                <ul class = "drop-menu environmental-menu">
                    <li>blank</li>
                    <li>blank</li>
                    <li>blank</li>
                </ul>
            </li>
            <li> Engineering
                <ul class = "drop-menu engineering-menu">
                    <li>blank</li>
                    <li>blank</li>
                    <li>blank</li>
                </ul>
            </li>
            <li> Physics
                <ul class = "drop-menu physics-menu">
                    <li>blank</li>
                    <li>blank</li>
                    <li>blank</li>
                </ul>
            </li>
            <li> Psychology
                <ul class = "drop-menu psychology-menu">
                    <li>blank</li>
                    <li>blank</li>
                    <li>blank</li>
                </ul>
            </li>
            <!-- <li class = "hamburger">
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                  </a>
            </li> -->

        </ul>
    </nav> --}}



    <div class="login">
        <form class = "form">
            <input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
        </form>
    </div>

<!-- Bubble Animation -->
    <div class="bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </div>
<script src = "scripts.js">

</script>
</body>
</html>
