<!-- I made "main.hbs" as a replacement -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Divas</title> -->
    <!--Import Style Sheet-->
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!--Import Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body> -->


    <div class="login">
        <form class = "form">
            <input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
        </form>
    </div>

<!-- Bubble Animation -->
    <div class="bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </div>
<!-- <script src = "scripts.js"> -->

</script>
<!-- </body>
</html> -->
