<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

          <form method="post" action="/projects/new">

          <!-- <form method="project" action="/projects/{{projectId}}/projects"> -->

              {{> projects-form}}

              <input type="hidden" name="projectId" value="{{projectId}}">

              <div class="form-group">
                <button class="btn btn-primary" type="submit">Post Project</button>
              </div>

          </form>
      </div>
</div>
