<style>
</style>

<div class="project-container">
    {{#each projects}}
            <p class="project-title">{{this.title}}</p>
        <p><a href="/projects/{{this.id}}">

        </a></p>
    {{/each}}
</div>
