<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="project" action="/projects/{{project.projectId}}/projects/{{project._id}}?_method=PUT">
      {{> projects-form}}
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save project</button>
      </div>
    </form>
  </div>
</div>
