<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

<<<<<<< HEAD
          <form method="project" action="/projects/new">
=======
          <form method="project" action="/projects/{{projectId}}/projects">
>>>>>>> 1e1ab3e7c500cede4a0cf853db83f64f987eceb4
              {{> projects-form}}

              <input type="hidden" name="projectId" value="{{projectId}}">

              <div class="form-group">
                <button class="btn btn-primary" type="submit">Post Project</button>
              </div>

          </form>
      </div>
</div>
