html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(white, #1E619B)fixed;
}

h1{
    width: 40vw;
}

nav >ul >li {
    float: left;
    padding-top: 1em;
    width: 200px;
    height:70px;
    line-height: 60px;
    text-align: center;
    position: relative;
    /* text-transform: uppercase; */
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

nav > ul >li:hover {
    background: #bcd2e2;
}

ul.drop-menu {
    position: absolute;
    top: 100%;`
    left: 0%;
    width: 100%;
    padding: 0;
}

ul.drop-menu li {
    padding: 15px;
    line-height: 1.4;
    font-size: 14px;
    background: #f9f9f9;
    color: black;
}

ul.drop-menu li:hover {
    background-color: #b2b5b7;
}

ul.drop-menu li:last-child {
    border-radius: 0px 0px 5px 5px;
}

/* Hides Drop Menu unless Triggered */
ul.drop-menu li {
    display: none;
}

li:hover > ul.drop-menu li {
    display: block;
}

li:hover > ul.drop-menu {
    perspective: 1000px;
    -webkit-animation: menu1 300ms ease-in-out forwards;
}

/* .topnav {
    overflow: hidden;
} */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {

}


/* Advanced Dropdown Animations */
@-webkit-keyframes menu1 {
    0% {
        opacity: 0%;
        transform: rotateY(-90deg) translateY(30px);
    }
    70% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg) translateY(0px);
    }
}

/* Login Form  */
form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 30vh;
    height: 400px;
    text-align: center;
    font-weight: 300;
    z-index: 1
}

/* Style Input Field */
form input {
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 25vh;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color:#4f5659;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}

/*Input Hover Style */
form input:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Changes field when clicked */
form input:focus {
  background-color: white;
  width: 300px;
  color: black;
}

/*Style Login/Register Buttons*/
form button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 1vh;
  margin: 1vh;
  color: gray;
  text-transform: uppercase;
  border-radius: 3px;
  width: 20vh;
  cursor: pointer;
  font-size: 15px;
  transition-duration: 0.25s;
}

/*Button Hover Styles*/
form button:hover {
background-color: #dedfe0;
}

/* DECORATIVE bubbles */
.bubbles {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bubbles li {
  position: fixed;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bubbles li:nth-child(1) {
  left: 10%;
}
.bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  animation-delay: 1s;
  animation-duration: 17s;
}
.bubbles li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;

}
.bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bubbles li:nth-child(5) {
  left: 70%;
}
.bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  animation-delay: 7s;
}
.bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 15s;
  animation-duration: 40s;
}
.bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 2s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bubbles li:nth-child(10) {
  left: 90%;
  width: 560px;
  height: 160px;
  animation-delay: 11s;
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
            transform: translateY(0);
  }
  100% {
            transform: translateY(-700px) rotate(600deg);
  }
}



@media (max-width:900px) and (min-width:300px) {

    /* .topnav li:not(.hamburger) {display: none;}
    .topnav li.icon {
      float: right;
      display: block;
    } */

    /* 1550 magic number */
     /* .topnav.responsive {position: relative;}
     .topnav.responsive li.icon {
       position: absolute;
       right: 0;
       top: 0;
       width: 100%;
     } */
     .topnav.responsive a {
       float: none;
       display: block;
       text-align: left;
     }

}
