<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/astronomy.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <!--Drop Down NAV BAR-->
    <nav class = "topnav" id = "myTopnav">
        <ul>
            <li><a href="../astronomy.html">ASTRONOMY</a>
                <ul class = "drop-menu astronomy-menu">
                    <li>The study of celestial objects, space, and the physical universe
                    </li>
                </ul>
            </li>

            <li> BIOLOGY
                <ul class = "drop-menu biology-menu">
                    <li>The study of living organisms, including their physical structure, chemical processes, molecular interactions, physiological mechanism, development and evolution.
                    </li>
                </ul>
            </li>

            <li> CHEMISTRY
                <ul class = "drop-menu chemistry-menu">
                    <li>The scientific discipline involved with elements and compounds: their composition, structure, properties, behavior and changes they undergo during reactions</li>
                </ul>
            </li>

            <li> COMPUTER SCIENCE
                <ul class = "drop-menu computer-science-menu">
                    <li>The theory, experimentation, and engineering that form the basis for the design and use of computers</li>
                </ul>
            </li>

            <li> ENVIRONMENTAL
                <ul class = "drop-menu environmental-menu">
                    <li>A broad field that focuses on the study of the relationships of the natural world and the relationships between organisms and their environments</li>
                </ul>
            </li>
            <li> ENGINEERING
                <ul class = "drop-menu engineering-menu">
                    <li>A branch of science and technology concerned with the design, building, and use of engines, machines, and stucture</li>
                </ul>
            </li>
            <li> PHYSICS
                <ul class = "drop-menu physics-menu">
                    <li>The Study of matter, its motion, and behavior through space and time and that studies the related entities of energy and force</li>
                </ul>
            </li>
            <li> PSYCHOLOGY
                <ul class = "drop-menu psychology-menu">
                    <li>The scientific study of the human mind and its functions, especially those affecting behavior in a given context</li>
                </ul>
            </li>
            <!--Hamburger Menu -->
            <!-- <li class = "hamburger">
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                  </a>
            </li> -->
        </ul>
    </nav>


<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'>
  <span>
    ASTRONOMY
  </span>
  <br>
  <span>
    THE UNIVERSE IS AWESOME
  </span>
</div>

</body>
</html>
