<link rel="stylesheet" href="../../public/css/astronomy.css">
<link

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<div id='title'>
    <span>
        ASTRONOMY
    </span>
    <br>
    <span>
        THE UNIVERSE IS AWESOME
    </span>
</div>
